.signupParentDiv {
    border: 1px solid black;
    width: max-content;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }
  
  .signupParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
  }
  
  .signupParentDiv button {
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .signupParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .signupParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
/* Responsive styles */
@media (max-width: 768px) {
  .error {
    font-size: 14px; /* Decrease font size for smaller screens */
    padding: 8px; /* Decrease padding for smaller screens */
    margin-top: 8px; /* Decrease margin-top for smaller screens */
  }
}  